.contact{
    width: 100%;
    height: calc(100% - var(--header-height));
    padding: 2em 1em;
    display: grid;
    grid-template-columns: repeat(
        auto-fit,minmax(min(400px,100%),450px)
    );
    place-content: center;
    gap: 1em;
    position: relative;
}
.contact .form-contact{
    height: auto;
    padding: 1em;
    background: var(--white);
    border-radius: .3em;
    border: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact .form-contact .form-row{
    width: 100%;
    margin: .3em 0em;
    border-radius: inherit;
}
.contact .form-contact .form-row input,
.contact .form-contact .form-row textarea{
    width: 100%;
    padding: .5em 1em;
    text-align: start;
    border: 1px solid var(--border-color);
    border-radius: inherit;
    outline: none;
    font-size: 16px;
    resize: none;
}
.contact .form-contact .form-row input:focus,
.contact .form-contact .form-row textarea:focus{
    border-color: var(--flame);
}
.contact .form-contact .form-row textarea{height: 150px;}
.contact .form-contact .form-row input[type = 'submit' ]{
    background: var(--flame);
    color: var(--white);
    border-color: transparent;
    cursor: pointer;
    text-align: center;
}

.contact .info{
    background: var(--flame);
    color: var(--white);
    border: 1px solid var(--border-color);
    border-radius: .3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .4em 1em;
}
.contact .info .info-item{
    width: 100%;
    height: auto;
    display: flex;
    padding: .5em;
    align-items: center;
    margin: .4em 0em;
}
.contact .info .info-item span{
    border: 1px solid transparent;
    display: grid;
    place-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: .2em;
    margin-right: .7em;
    transition: all .2s ease-in-out;
}
.contact .info .info-item:hover span{
    background: var(--eerie-black);
}
.contact .info .info-item i{
    font-size: 1.7em;
}

.contact .info .info-item .info-content h4{
    font-size: 22px;
}
.contact .info .info-item .info-content p{
    font-size: 16px;
}
.contact .info .info-item .info-content a{
    text-decoration: none;
    font-size: 16px;
    color: var(--white);
}
@media screen and (max-width:960px) {
    .contact{height: auto;}
    
}

@keyframes move {
    0%{transform: translateX(50px);}
}