.logotipe{
    width: auto;
    height: 40px;
    border: 1px solid transparent;
    display: grid;
    place-content: center;
    position: relative;
    margin: 0em .1em;
}
.logotipe h1{
    font-size: 20px;
    color: var(--white);
}
.logotipe h1 i{
    position: absolute;
    font-size: 1.2em;
    top: calc(calc(1.2em / 2) * -1);
    left: calc(55% - calc(1.5em / 2));
}

.spinner_content,
.box_modal{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.081);
    display: grid;
    place-content: center;
    left: 0;
    top: 0;
    z-index: 10;
}
.modal{    
    width: 478px;
    height: 300px;
    background: var(--white);
    border-radius: .3em;
    box-shadow: 
        2px 2px 20px var(--border-color),
        2px 2px 20px var(--border-color),
        2px 2px 20px var(--border-color)
    ;
    animation: reveal .2s linear;
    transition: all .2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.modal i{
    font-size: 5em;
    color: rgb(44, 229, 44);
    animation: tranlate .5s linear;
}
.modal h3,
.modal p{
    max-width: 90%;
    width: 100%;
    text-align: center;
}
.modal h3{
    font-size: 25px;
    margin: .3em;
    color: var(--flame);
    animation: tranlate .7s linear;

}
.modal p{
    font-size: 18px;
    animation: tranlate .9s linear;
}
.modal button{
    position: absolute;
    bottom: 1em;
    right: 1em;
    border: 1px solid var(--border-color);
    cursor: pointer;
    padding: .4em 2em;
    font-size: 16px;
    color: var(--white);
    background: rgb(44, 229, 44);
    border-radius: inherit;
    animation: tranlate 1.5s linear;
}
.modal button.warning{
    background: red;
}
.modal h3.warning{color: red;}
.modal button:hover{background: var(--eerie-black);}
.spinner_content .spinner{
    width: 70px;
    height: 70px;
    border: 7px solid transparent;
    border-radius: 50%;
    border-right-color: var(--flame);
    border-left-color: var(--eerie-black);
    animation:rotate 1s linear infinite;
    position: relative;
    display: grid;
    place-content: center;
}
.spinner_content .spinner .spinner_child{
    width: 35px;
    height: 35px;
    border-radius: inherit;
    border: calc(7px / 2) solid transparent;
    border-right-color: var(--flame);
    border-left-color: var(--eerie-black);
    animation:rotate 2s linear infinite;
}

.footer{
    width: 100%;
    height: auto;
    padding: 1.5em 1em;
    background: var(--eerie-black);
    color: var(--white);
    border-top: 1px solid var(--black-olive);
}
.footer .copy{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes rotate {
    0%{
        transform: rotate(360deg);
        color: var(--eerie-black);
    }
}

@keyframes tranlate {
    0%{transform: translateY(-10px); opacity: 0;}    
}
@keyframes reveal {
    from{
        width: 0;
        height: 0;
    }to{
        width: 478px;
        height: 300px;
    }
}
